@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,700;1,400;1,700');

@font-face {
  font-family: 'Pally-Variable';
  src: url(/assets/fonts/Pally-Variable.woff2);
  font-weight: 400 500 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Fira Sans', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

* {
  transition:
    color 40ms,
    background-color 250ms;
  transition-timing-function: ease-in-out;
}

#root {
  @apply min-h-screen flex flex-col bg-gray-50;

  &.dark {
    background-color: hsl(226, 87%, 7%);
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px hsl(217 91% 89%) inset;
  -webkit-text-fill-color: hsla(1, 7%, 12%);
}

h1.web-name {
  background: border-box
    linear-gradient(99deg, hsl(360, 84%, 57%), #edd9d9, hsl(360, 84%, 57%));
  background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

h1.web-name::before {
  content: 'ExploraPerú';
  position: absolute;
  top: 1;
  left: 1;
  z-index: -1;
  color: hsla(0, 84%, 57%, 0.17);
  filter: blur(2px);
}
